[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "2.1.10"
pymongo = "*"
"pymongo[srv]" = "*"
python-decouple = "*" # https://pypi.org/project/python-decouple/
pytz = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
